.container {
    display: flex;
    flex-direction: column;
  }
  .contacts {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-color: #fefefe;
    margin-top: 20px;
  }