.container-footer {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    width: 100%;
    height: 150px;
  }
  .text-footer {
    padding-right: 155px;
    padding-left: 155px;
    color: black;
  }
  .title-footer {
    padding-right: 155px;
    padding-left: 155px;
  }
  .marca-footer {
    display: flex;
    flex-direction: row;
  }
  footer {
    display: flex;
    flex-direction: row;
  }
  .title-pink-footer {
    color: #ff759f;
    padding-right: 10px;
  }
  .title-blue-footer {
    color: #5bc0eb;
  }
