  .title {
    margin-top: 15px;
    color: #ff759f;
  }
  .container {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
  }
  .frame {
    margin-top: 10px;
    margin-left: 150px;
    width: 300px;
    height: 480px;
  }
  .imagen-container {
    margin-top: 10px;
    width: 200px;
    height: 200px;
  }
  .text-justify {
    text-justify: auto;
    padding: 10px;
  }
  
