  /*
  nav bar
  */
  #cabecero {
    display: flex;
    position: fixed;
    align-items: center;
    flex-direction: row;
    background-color: rgba(255, 255, 255, 0.9);
    height: 120px;
    z-index: 1;
  }
  
.header {
  display: flex;
  align-items: center;
}

.logo {
  flex-grow: 10;
  font-weight: bold
}

  #menu {
    height: 100%;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    flex-grow: 2;
  }
  
  #menu > ul {
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    height: 100%;
    margin-right: 10px;
    align-content: center;
  }
  
  
  #menu a {
    padding: 20px;
    color: #707e95;
  }
  
  .button {
    font-family: "Roboto", sans-serif;
    background-color: #ff759f;
    border: 0;
    padding: 15px 25px;
    border-radius: 5px;
    font-size: 15px;
    color: #f1f5ff;
    transition-duration: .5s;
  }
  
  .button:hover {
    background-color: #f1f5ff;
    color: #ff759f;
  }
