.mitad {
    width: 50%;
  }
  .layout {
    display: flex;
  }
  .layout-column {
       display: flex;
      align-content: stretch;
      align-items: center;
      flex-direction: column;
  }
  .margin-top10 {
    margin-top: 10px;
  }
  .margin-right10 {
    margin-right: 10px;
  }
  ul li {
    list-style: none;
    padding-right: 40px;
    padding-top: 10px ;
    text-align: center;
  }
  .boton{
    background-color:  #5bc0eb;
    margin-top: 20px;
    margin-bottom:20px ;
    border-color: #5bc0eb;
    color: white;
  }
  .boton:hover{
     background-color:  #ff759f;
    border-color: #ff759f;
    color: white;
  }