<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/styles.css">
    <title>Contacto</title>
</head>
<body>
  <header id="cabecero">
    <div class="logo">
      <img src="https://circumicons.com/icon/wheat?fill=ff759f&size=72" alt="" srcset="">
      <a class="text-logo" href="../index.html">Pasteleria cereza</a>
    </div>
    <nav id="menu">
      <ul>
        <li>
          <a href="../index.html">Inicio</a>
        </li>
        <li>
          <a href="#">Quienes somos</a>
          <ul>
            <li><a href="mision.html">Mision</a></li>
            <li><a href="vision.html">Visión</a></li>
            <li><a href="valores.html">Valores</a></li>
          </ul>
        </li>
        <li>
          <a href="servicios.html">Servicio</a>
          <ul>
            <li><a href="diseños.html">Diseños</a></li>
            <li><a href="precios.html">Precios</a></li>
            <li><a href="promocional.html">Promocional</a></li>
          </ul>
        </li>
        <li>
          <a href="contacto.html">Contactos</a>
        </li>
      </ul>
    </nav>
  </header>
    

    <div class="">
      <h2 class="center color-white">Solicita tu pastel</h2>

      <form class="form-container">

        <label for="nombre">Escriba su nombre completo</label>
        <input type="text" id="nombre" name="nombre" placeholder="Ingrese su nombre">

        <label for="correo">Escriba su Correo</label>
        <input type="email" id="correo" name="correo" placeholder="Ingrese su correo">
        <label for="evento">Tipo de evento</label>

        <div>
          <input type="radio" name="evento" id="Bautizo">
          <label for="Bautizo">Bautizo</label>
  
          <input type="radio" name="evento" id="Boda">
          <label for="Boda">Boda</label>
  
          <input type="radio" name="evento" id="Cumpleaños">
          <label for="Cumpleaños">Cumpleaños</label>
  
          <input type="radio" name="evento" id="Infantil">
          <label for="Infantil">Infantil</label>
          <input type="radio" name="evento" id="Otro evento">
          <label for="Otro evento">Otro evento</label>
        </div>
        
        <label for="">Indique la fecha y hora de evento</label>
        <input type="datetime-local" name="date" id="dateinput" >

        <label for="cantidad">Indique la cantidad de personas</label>
        <input type="number" name="cantidad" id="cantidad">

        <label for="">Seleccione el color de su pastel</label>
        <input type="color" name="color" id="color">

        <label for="">Describa las caracteristicas de su pastel</label>
        <textarea name="caracteristicas" id="caracteristicas" cols="30" rows="10"></textarea>

        <input type="file">

        <input type="submit" value="Enviar">
      </form>

    
    <footer id="footer">
      <div class="container-footer">
        <h1>Pasteleria La cereza</h1>
        <div class="footer-info">
          <h3>Informacion de contacto: info</h3>
          <p>Telefono: 123456789</p>
          <p>Correo:pasteleria@mail.com</p>
          <p>Direccion: Direccion</p>
        </div>
        <div class="footer-redes">
          <h3>Redes sociales</h3>
          <p>Facebook</p>
          <p>Instagram</p>
          <p>Twitter</p>
        </div>
      </div>
    </footer>

</body>
</html>