<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mision</title>

  <link rel="stylesheet" href="../styles/styles.css">

</head>

<body>
  <header id="cabecero">
    <div class="logo">
      <img src="https://circumicons.com/icon/wheat?fill=ff759f&size=72" alt="" srcset="">
      <a class="text-logo" href="../index.html">Pasteleria cereza</a>
    </div>
    <nav id="menu">
      <ul>
        <li>
          <a href="../index.html">Inicio</a>
        </li>
        <li>
          <a href="#">Quienes somos</a>
          <ul>
            <li><a href="mision.html">Mision</a></li>
            <li><a href="vision.html">Visión</a></li>
            <li><a href="valores.html">Valores</a></li>
          </ul>
        </li>
        <li>
          <a href="#">Servicio</a>
          <ul>
            <li><a href="diseños.html">Diseños</a></li>
            <li><a href="precios.html">Precios</a></li>
            <li><a href="promocional.html">Promocional</a></li>
          </ul>
        </li>
        <li>
          <a href="contacto.html">Contactos</a>
        </li>
      </ul>
    </nav>
  </header>

  <main id="container-main">
    <div class="container-info">

      <div class="info-100">
        <h2 class="titulo-about">Misión</h2>
        <p class="font-md">La misión de una pastelería puede ser proporcionar productos de alta calidad, deliciosos y
          frescos,
          elaborados con ingredientes naturales y de primera calidad. También puede ser crear experiencias
          inolvidables para los clientes, satisfaciendo sus necesidades y deseos en cuanto a postres y dulces
          se refiere. Además,puede centrarse en la innovación, la creatividad y la pasión por la repostería.</p>
      </div>

      <div class="info-100">
        
      </div>
    </div>
    </div>
  </main>


  <footer id="footer">
    <div class="container-footer">
      <h1>Pasteleria La cereza</h1>
      <div class="footer-info">
        <h3>Informacion de contacto: info</h3>
        <p>Telefono: 123456789</p>
        <p>Correo:pasteleria@mail.com</p>
        <p>Direccion: Direccion</p>
      </div>
      <div class="footer-redes">
        <h3>Redes sociales</h3>
        <p>Facebook</p>
        <p>Instagram</p>
        <p>Twitter</p>
      </div>
    </div>
  </footer>

</body>

</html>