<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/styles.css">
  <title>Pasteleria</title>
</head>

<body>
    <header id="cabecero">
      <div class="logo">
        <img src="https://circumicons.com/icon/wheat?fill=ff759f&size=72" alt="" srcset="">
        <a class="text-logo" href="../index.html">Pasteleria cereza</a>
      </div>
      <nav id="menu">
        <ul>
          <li>
            <a href="../index.html">Inicio</a>
          </li>
          <li>
            <a href="#">Quienes somos</a>
            <ul>
              <li><a href="mision.html">Mision</a></li>
              <li><a href="vision.html">Visión</a></li>
              <li><a href="valores.html">Valores</a></li>
            </ul>          </li>
          <li>
            <a href="#">Servicio</a>
            <ul>
              <li><a href="diseños.html">Diseños</a></li>
              <li><a href="precios.html">Precios</a></li>
              <li><a href="promocional.html">Promocional</a></li>
            </ul>
          </li>
          <li>
            <a href="contacto.html">Contactos</a>
          </li>
        </ul>
      </nav>
    </header>

    <main id="container-main">
  

    <video  width="800" height="400" controls autoplay loop muted>
            <source src="../assets/video/video-pastel.mp4">
    </video>
        

    </main>
    
    <footer id="footer">
      <div class="container-footer">
        <h1>Pastelería La cereza</h1>
        <div class="footer-info">
          <h3>Información de contacto</h3>
          <p>Teléfono: 123456789</p>
          <p>Correo:pasteleriañam@mail.com</p>
          <p>Dirección: Escihu</p>
        </div>
        <div class="footer-redes">
          <h3>Redes sociales</h3>
          <p>Facebook</p>
          <p>Instagram</p>
          <p>Twitter</p>
        </div>
      </div>
    </footer>

</body>

</html>