<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/styles.css">
    <title>Document</title>
</head>
<body>
  <header id="cabecero">
    <div class="logo">
      <img src="https://circumicons.com/icon/wheat?fill=ff759f&size=72" alt="" srcset="">
      <a class="text-logo" href="../index.html">Pasteleria cereza</a>
    </div>
    <nav id="menu">
      <ul>
        <li>
          <a href="../index.html">Inicio</a>
        </li>
        <li>
          <a href="#">Quienes somos</a>
          <ul>
            <li><a href="mision.html">Mision</a></li>
            <li><a href="vision.html">Visión</a></li>
            <li><a href="valores.html">Valores</a></li>
          </ul>        </li>
        <li>
          <a href="servicios.html">Servicio</a>
          <ul>
            <li><a href="diseños.html">Diseños</a></li>
            <li><a href="precios.html">Precios</a></li>
            <li><a href="promocional.html">Promocional</a></li>
          </ul>
        </li>
        <li>
          <a href="contacto.html">Contactos</a>
        </li>
      </ul>
    </nav>
  </header>

    <div class="layout">
        <div class="mitad">
          <form id="form-pe" @submit.prevent="formP">
            <h2>Informacion Personal</h2>
    
            <label class="margin-right10">Nombre</label>
            <input type="text" v-model="nombre" />
            <br />
            <br />
            <label class="margin-right10">Numero de teléfono</label>
            <input type="number" v-model="numero" />
            <br />
            <br />
            <label class="margin-right10">Correo Electrónico</label>
            <input type="email" v-model="correo" />
            <h2>Información del pastel</h2>
    
            <div class="layout-column">
               <p>Escoge uno</p>
            <input type="text" v-model="sabores" />
                    <label class="margin-right10 margin-top10">Sabor de pastel</label>
    
            </div>
           
                
      <div class="layout-column">
         <p>Escoge uno</p>
            <input type="text" v-model="adornos" />
    
    
            <label class="margin-right10 margin-top10" >Adorno del pastel </label>
      </div>
    
           
            
              <button  v-on="addPedido" class="margin-top10 boton">Enviar pedido</button>
           
          </form>
        </div>
        <div class="mitad">
          <h2 class="title">Sabores</h2>
          <ul>
            <li>Mango</li>
            <li>Fresa</li>
            <li>Chocolate</li>
          </ul>
          <h2>Adornos</h2>
          <ul>
            <li>Betún</li>
            <li>Glaseado</li>
          </ul>
        </div>
      </div>
      
      <footer id="footer">
        <div class="container-footer">
          <h1>Pasteleria La cereza</h1>
          <div class="footer-info">
            <h3>Informacion de contacto: info</h3>
            <p>Telefono: 123456789</p>
            <p>Correo:pasteleria@mail.com</p>
            <p>Direccion: Direccion</p>
          </div>
          <div class="footer-redes">
            <h3>Redes sociales</h3>
            <p>Facebook</p>
            <p>Instagram</p>
            <p>Twitter</p>
          </div>
        </div>
      </footer>

</body>
</html>